---
import Layout from '../layouts/Layout.astro';
import Key from '../components/Key.astro';
---

<Layout>
  <div class='m-10 flex gap-x-1'>
    <Key>leader</Key>
    <Key>a</Key>
    <Key>m</Key>
  </div>
</Layout>
