---
import Layout from '../layouts/Layout.astro';
import RotatingActions from '../components/RotatingActions.svelte';
import QuickStart from '../components/QuickStart.svelte';
import Features from '../components/Features.astro';
import { Code } from 'astro:components';
import { shortExampleToml } from '../lib/constants';

import vscodeLogo from '../assets/vscode.svg';
import github from '../assets/github.svg';
import window from '../assets/window.svg';
import terminal from '../assets/terminal.png';
import globe from '../assets/globe.svg';

let actions: [string, KeyBindingAction][] = [
  [
    'leader v',
    {
      icon: vscodeLogo.src,
      action: 'Launch',
      label: 'VS Code',
    },
  ],
  [
    'leader t',
    {
      action: 'Launch',
      label: 'Terminal',
      icon: terminal.src,
    },
  ],
  [
    'leader l r',
    {
      action: 'Open',
      label: 'https://reddit.com',
      fontSize: '1.6rem',
      icon: globe.src,
    },
  ],
  [
    'leader w m',
    {
      action: 'Window',
      label: 'Maximize',
      icon: window.src,
    },
  ],
  [
    'leader r e',
    {
      action: 'Raycast',
      label: '🤪 Emoji picker',
    },
  ],
  [
    'leader w h',
    {
      action: 'Window',
      label: 'Left half',
      icon: window.src,
    },
  ],
  [
    'leader r c',
    {
      action: 'Raycast',
      label: '🎉 Confetti',
    },
  ],
  [
    'leader l m g',
    {
      action: 'Open',
      icon: github.src,
      label: 'https://github.com/saml-dev',
      fontSize: '1.1rem',
    },
  ],
  [
    'leader w c',
    {
      action: 'Window',
      label: 'Center half',
      icon: window.src,
    },
  ],
];
const rand = Math.floor(Math.random() * actions.length);
---

<Layout>
  <div class='mt-10 md:mt-25'>
    <h1
      class='text-balance group text-center leading-tight text-4xl md:text-6xl font-bold'
    >
      The most
      <span class='relative'
        >productive
        <!-- <Fun client:only /> -->
      </span>
      way to navigate your Mac
    </h1>
    <div class='mt-12 md:mt-18'>
      <RotatingActions
        client:load
        {actions}
        startIdx={rand}
      />
    </div>
    <div class='mt-18 md:mt-25 w-full'>
      <Features />
    </div>
    <div class='mt-10 md:mt-14 w-full'>
      <h2>Easy toml configuration with live reloading.</h2>
      <div class='relative mt-3'>
        <Code
          theme='dark-plus'
          lang='toml'
          code={shortExampleToml}
          class='rounded-lg pt-12! text-sm overflow-x-scroll md:pt-4! md:text-base'
        />
        <div
          class='absolute text-sm md:text-base top-0.25 right-0.25 bg-yellow-50 border p-1 md:p-2 rounded-bl-lg rounded-tr-lg flex items-center gap-1 underline hover:decoration-2'
        >
          <a href='/docs'>See the full example &rarr;</a>
        </div>
      </div>
    </div>
    <div class='w-full mt-10 md:mt-14 text-lg'>
      <QuickStart client:load>
        <div
          slot='first'
          class='flex flex-col gap-y-4'
        >
          <div>
            <p>
              1. Clone this repo to the default Hammerspoon config location:
            </p>
            <Code
              lang='bash'
              code='git clone https://github.com/saml-dev/hammerflow.git ~/.hammerspoon'
              class='mt-1'
            />
          </div>
          <p>
            2. Install <a
              target='_blank'
              href='https://www.hammerspoon.org/'
              class='underline hover:decoration-2'
              >Hammerspoon</a
            >
          </p>
          <p>
            3. (Recommended) Use <a
              href='https://karabiner-elements.pqrs.org/'
              target='_blank'
              >Karabiner Elements</a
            > to remap <Code
              code='Right Command'
              inline
            /> to <Code
              code='f18'
              inline
            /> for a dedicated leader key.
          </p>
          <p>
            4. Explore <Code
              code='sample.toml'
              inline
            /> to see what you can do and try out some of the default actions.
          </p>
          <p>
            5. Create <Code
              code='home.toml'
              inline
            /> or <Code
              code='work.toml'
              inline
            /> and personalize to your hearts content!
          </p>
        </div>
        <div
          slot='second'
          class='flex flex-col gap-y-4'
        >
          <div>
            <p>
              1. Clone this repo to a subdirectory in your hammerspoon config:
            </p>
            <Code
              lang='bash'
              code='git clone https://github.com/saml-dev/hammerflow.git ~/.hammerspoon/hammerflow'
              class='mt-1'
            />
          </div>
          <div class='mt-1'>
            <p>
              2. Add these lines to the top of your <Code
                code='init.lua'
                inline
              />:
            </p>
            <Code
              lang='lua'
              code=`-- allows hammerspoon to find Spoons inside hammerflow
package.path = package.path .. ";" .. hs.configdir .. "/hammerflow/Spoons/?.spoon/init.lua"
require('hammerflow/init')`
              class='mt-1'
            />
          </div>
          <p>
            3. (Recommended) Use <a
              href='https://karabiner-elements.pqrs.org/'
              target='_blank'
              >Karabiner Elements</a
            > to remap <Code
              code='Right Command'
              inline
            /> to <Code
              code='f18'
              inline
            /> for a dedicated leader key.
          </p>
          <p>
            4. Explore <Code
              code='sample.toml'
              inline
            /> to see what you can do and try out some of the default actions.
          </p>
          <p>
            5. Create <Code
              code='home.toml'
              inline
            /> or <Code
              code='work.toml'
              inline
            /> and personalize to your hearts content!
          </p>
        </div>
      </QuickStart>
    </div>
  </div>
</Layout>
