---
import Layout from '../layouts/Layout.astro';
import RotatingActions from '../components/RotatingActions.svelte';
import QuickStart from '../components/QuickStart.svelte';
import Features from '../components/Features.astro';
import { Code } from 'astro:components';
import { shortExampleToml } from '../lib/constants';

import vscodeLogo from '../assets/vscode.svg';
import github from '../assets/github.svg';
import window from '../assets/window.svg';
import terminal from '../assets/terminal.webp';
import globe from '../assets/globe.svg';

let actions: [string, KeyBindingAction][] = [
  [
    'leader v',
    {
      icon: vscodeLogo.src,
      action: 'Launch',
      label: 'VS Code',
    },
  ],
  [
    'leader s',
    {
      action: 'Keyboard Shortcut',
      label: '⌘ ⌃ ⇧ 4',
    },
  ],
  [
    'leader t',
    {
      action: 'Launch',
      label: 'Terminal',
      icon: terminal.src,
    },
  ],
  [
    'leader l r',
    {
      action: 'Open',
      label: 'https://reddit.com',
      fontSize: '1.6rem',
      icon: globe.src,
    },
  ],
  [
    'leader w m',
    {
      action: 'Window',
      label: 'Maximize',
      icon: window.src,
    },
  ],
  [
    'leader r e',
    {
      action: 'Raycast',
      label: '🤪 Emoji picker',
    },
  ],
  [
    'leader w h',
    {
      action: 'Window',
      label: 'Left half',
      icon: window.src,
    },
  ],
  [
    'leader r c',
    {
      action: 'Raycast',
      label: '🎉 Confetti',
    },
  ],
  [
    'leader l m g',
    {
      action: 'Open',
      icon: github.src,
      label: 'https://github.com/saml-dev',
      fontSize: '1.1rem',
    },
  ],
  [
    'leader w c',
    {
      action: 'Window',
      label: 'Center half',
      icon: window.src,
    },
  ],
];
---

<Layout>
  <div class='pt-10 md:pt-25'>
    <h1
      class='text-balance group text-center leading-tight text-4xl md:text-6xl font-bold'
    >
      The most
      <span class='relative'
        >productive
        <!-- <Fun client:only /> -->
      </span>
      way to control your Mac
    </h1>
    <div class='mt-12 md:mt-18'>
      <RotatingActions
        client:load
        {actions}
      />
    </div>
    <div class='mt-25 w-full'>
      <Features />
    </div>
    <div class='mt-14 md:mt-20 w-full'>
      <h2>Easy toml configuration with live reloading.</h2>
      <div class='relative mt-3'>
        <Code
          theme='dark-plus'
          lang='toml'
          code={shortExampleToml}
          class='rounded-lg pt-12! text-sm overflow-x-scroll md:pt-4! md:text-base'
        />
        <div
          class='absolute text-sm md:text-base top-0.25 right-0.25 bg-soft-yellow border p-1 md:p-2 rounded-bl-lg rounded-tr-lg flex items-center gap-1 underline hover:decoration-2'
        >
          <a href='/docs'>See the full example &rarr;</a>
        </div>
      </div>
    </div>
    <div class='w-full mt-10 md:mt-14 text-lg'>
      <QuickStart client:load>
        <div
          slot='first'
          class='flex flex-col gap-y-4'
        >
          <div>
            <p>
              1. Clone our premade Hammerspoon config to the default location:
            </p>
            <Code
              theme='dark-plus'
              lang='bash'
              code='git clone --recursive https://github.com/saml-dev/hammerflow-wrapper.git ~/.hammerspoon'
              class='mt-1'
            />
          </div>
          <p>
            2. Install <a
              target='_blank'
              href='https://www.hammerspoon.org/'
              class='underline hover:decoration-2'
              >Hammerspoon</a
            >
          </p>
          <p>
            3. (Recommended) Use <a
              href='https://karabiner-elements.pqrs.org/'
              target='_blank'
              >Karabiner Elements</a
            > to remap <Code
              theme='dark-plus'
              code='Right Command'
              inline
            /> to <Code
              theme='dark-plus'
              code='f18'
              inline
            /> for a dedicated leader key.
          </p>
          <p>
            4. Explore <Code
              theme='dark-plus'
              code='sample.toml'
              inline
            /> to see what you can do and try out some of the default actions.
          </p>
          <p>
            5. Create <Code
              theme='dark-plus'
              code='home.toml'
              inline
            /> or <Code
              theme='dark-plus'
              code='work.toml'
              inline
            /> and personalize to your hearts content!
          </p>
        </div>
        <div
          slot='second'
          class='flex flex-col gap-y-4'
        >
          <div>
            <p>1. Clone the Hammerflow spoon:</p>
            <Code
              theme='dark-plus'
              lang='bash'
              code='git clone https://github.com/saml-dev/Hammerflow.spoon.git ~/.hammerspoon/Spoons/Hammerflow.spoon'
              class='mt-1'
            />
          </div>
          <div class='mt-1'>
            <p>
              2. In <Code
                theme='dark-plus'
                code='init.lua'
                inline
              /> load Hammerflow and pass a list of config files for it to search
              for. It takes absolute paths and paths relative to the Hammerspoon
              config dir, usually <Code
                theme='dark-plus'
                code='~/.hammerspoon'
                inline
              />
            </p>
            <Code
              theme='dark-plus'
              lang='lua'
              code=`hs.loadSpoon("Hammerflow")
spoon.Hammerflow.loadFirstValidTomlFile({
    "home.toml",
    "work.toml",
    "Spoons/Hammerflow.spoon/sample.toml"
})
-- optionally respect auto_reload setting in the toml config.
if spoon.Hammerflow.auto_reload then
    hs.loadSpoon("ReloadConfiguration")
    spoon.ReloadConfiguration:start()
end
`
              class='mt-1'
            />
          </div>
          <p>
            3. (Recommended) Use <a
              href='https://karabiner-elements.pqrs.org/'
              target='_blank'
              >Karabiner Elements</a
            > to remap <Code
              theme='dark-plus'
              code='Right Command'
              inline
            /> to <Code
              theme='dark-plus'
              code='f18'
              inline
            /> for a dedicated leader key.
          </p>
          <p>
            4. Explore <Code
              theme='dark-plus'
              code='sample.toml'
              inline
            /> to see what you can do and try out some of the default actions.
          </p>
          <p>
            5. Create your own toml config and personalize to your hearts
            content!
          </p>
        </div>
      </QuickStart>
    </div>
  </div>
</Layout>
