---
import shield from '../assets/shield.svg';
import FeatureCard from './feature-card.astro';
---

<div class='grid grid-cols-1 gap-3 md:grid-cols-2 md:gap-8'>
  <FeatureCard
    iconSrc={shield.src}
    title='Battle tested'
  >
    Under the hood, Hammerflow relies on <a
      href='https://www.hammerspoon.org/'
      target='_blank'
      >Hammerspoon</a
    >, a well-established and powerful Mac productivity app.
  </FeatureCard>
  <FeatureCard
    iconSrc={shield.src}
    title='shadcn for shortcuts'
  >
    Configure all of your shortcuts from a single text file. If you want more
    control, just open the code and change it however you like.
  </FeatureCard>
</div>
