---
import '../styles/global.css';
import background from '../assets/bg.webp';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      href='https://fav.farm/ðŸ› ï¸'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>HammerFlow</title>
  </head>
  <body class='text-gray-900'>
    <div class='max-w-5xl pb-40 px-4 md:px-8 mx-auto'>
      <slot />
    </div>
    <img
      id='background'
      src={background.src}
      alt=''
      fetchpriority='high'
    />
  </body>
</html>

<style>
  body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    position: relative;
  }

  #background {
    position: absolute;
    inset: 0;
    opacity: 80%;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
</style>
