---
import '../styles/global.css';
import background from '../assets/bg.webp';
import github from '../assets/github.svg';
import metaImage from '../assets/meta.png';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      href='https://fav.farm/⚒️'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />

    <!-- Open Graph tags -->
    <meta
      property='og:title'
      content='Hammerflow'
    />
    <meta
      property='og:type'
      content='website'
    />
    <meta
      property='og:url'
      content='https://hammerflow.dev/'
    />
    <meta
      property='og:description'
      content='The most productive way to control your Mac'
    />
    <meta
      property='og:image'
      content={metaImage.src}
    />
    <meta
      property='og:image:alt'
      content='Hammerflow'
    />

    <title>{import.meta.env.PROD ? 'Hammerflow' : 'Local Hammerflow'}</title>
  </head>
  <body class='text-gray-900'>
    <nav class='pt-2'>
      <div
        class='text-lg md:text-xl font-medium max-w-5xl px-4 md:px-8 mx-auto flex items-baseline justify-between'
      >
        <a href='/'>Hammerflow</a>
        <a
          target='_blank'
          href='https://github.com/saml-dev/Hammerflow.spoon.git'
          ><img
            class='size-5 mr-1'
            src={github.src}
            alt='github logo'
          /> Github</a
        >
      </div>
    </nav>
    <div class='max-w-5xl pb-40 px-4 md:px-8 mx-auto'>
      <slot />
    </div>
    <img
      id='background'
      src={background.src}
      alt=''
      fetchpriority='high'
    />
  </body>
</html>

<style>
  body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    position: relative;
  }

  #background {
    position: absolute;
    inset: 0;
    opacity: 80%;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
</style>
